* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(214, 17%, 92%);
    color: hsl(224, 10%, 45%);
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
}

/* styling the container */
.container {
      padding: 2rem;
}

/* styling the testimonial */
.testimonial {
    padding: 1.75rem;
    border-radius: 8px;
    margin-block-end: 1.5rem;
}

.testimonial header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-block-end: 10px;
}

.testimonial header img {
    width: 30px;
    border-radius: 50%;
}

.author strong {
    font-weight: 600;
}

.author p {
    font-size: 0.75rem;
}

/* Names (strong) */
.featured strong,
.neutral strong,
.neutral-dark strong {
    color: hsl(0, 0%, 100%);
}

.neutral-light strong {
    color: hsl(0, 0%, 7%);
}

/* Status (p) */
.featured p,
.neutral p,
.neutral-dark p {
    color: hsl(214, 17%, 92%); 
}

.neutral-light p {
    color: hsl(217, 19%, 35%);
}


h2 {
    margin-block-end: 15px;
}

/* featured testimonal */
.featured {
    background-color: hsl(263, 55%, 52%);
}

.featured h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.featured p {
    color: hsl(260, 100%, 95%);
}

/* neutral testimonal */
.neutral {
    background-color:  hsl(217, 19%, 35%);
}

.neutral h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.neutral p {
    color: hsl(214, 17%, 92%);
}

/* neutral-light testimonal */
.neutral-light {
    background-color:  hsl(0, 0%, 100%);
}

.neutral-light h2 {
    color:  hsl(0, 0%, 7%);
    font-weight: 600;
}

.neutral-light p {
    color: hsl(217, 19%, 35%) ;
}

/* neutral-dark testimonal */
.neutral-dark {
    background-color:  hsl(219, 29%, 14%);
}

.neutral-dark h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.neutral-dark p {
    color: hsl(214, 17%, 92%);
}

/* media query */
@media (min-width: 1024px) {
    /* desktop style */
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        max-width: 1100px;
        margin-inline: auto;
    }
    .featured {
        grid-column: 1 / 3;
    }
    .neutral-dark {
        grid-column: 2 / 4;  
    }
    .neutral-light.kira {
        grid-column: 4;
        grid-row: 1 / 3;
    }
}


/* .attribution {
     font-size: 11px;
      text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%);
}  */